*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.path{
    margin-top: 7rem;
    display: flex;
    align-items: center;
    margin-left: 4rem;
}
.table-of-contents{
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
}
.subject-li{
    cursor: pointer;
    font-weight: 600;
    padding: 0.2rem 0;
}
.popup{
    max-width: fit-content ;
    max-width:-moz-fit-content;
}
.subject-topic{
   padding: 1.5rem;
   margin-bottom: 2rem;
}
.subject-topic-cont{
    background-color: aquamarine;
    text-align: center;
    width: 100%;
}
.subject-body-container{
    display: flex;
    margin-top: 3rem;
}
.subject-lists{
    width: 18rem;
    border-right: 1px solid rgb(194, 194, 194);
}
.subject-body{
    text-align: center;
    width: 100%;
}
.table-head{
    padding-left: 1rem;
    padding-bottom: 1rem;
}
.selected{
   background-color: aquamarine; 
   border-radius: 0.3rem;
   padding-left: 0.3rem;
}

.chemistry{
    background-color: rgb(228, 228, 228);
}