*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.path{
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    margin-left: 2rem;
}
.table-of-contents{
    display: flex;
    flex-direction: column;
    padding:0 0.5rem 0 1rem;
}
.subject-li{
    cursor: pointer;
    font-weight: 600;
    font-size:0.9rem;
    padding: 0.6rem 0;
    color: rgb(56, 56, 56);
    width: 12rem;
}

.popup{
    position: fixed;
     overflow: scroll;
    height: 90vh;
}
.subject-topic{
   padding: 1.5rem;
   margin-bottom: 0rem;
}
.subject-topic-cont{
    background-color: aquamarine;
    text-align: center;
    width: 100%;
}
.subject-body-container{
    display: flex;
    margin-top: 5rem;
}
.subject-lists{
    width: 18rem;
    border-right: 1px solid rgb(194, 194, 194);
}
.subject-body{
    text-align: left;
    width: 100%;
}
.table-head{
    padding-left: 1rem;
    padding-bottom: 1rem;
}
.selected{
   background-color: aquamarine; 
   border-radius: 0.3rem;
   padding-left: 0.3rem;
}

.chemistry{
    background-color: rgb(245, 245, 245);
}